@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$h1-font: "font-family: 'Dosis', sans-serif;";
$h2-font:"Marck+font-family: 'Marck Script', cursive;";
$p: "font-family: 'Montserrat', sans-serif;";